<script type="text/javascript">
	function countdown_func() {
	    var prefix = 'or wait ';
	    countdown--;
	    el = document.getElementById('countdown');
	    if (countdown == 1) {
	        el.firstChild.nodeValue = 
	            prefix + countdown + ' second.';
	    } else if (countdown > 0) {
	        el.firstChild.nodeValue = 
	            prefix + countdown + ' seconds.';
	    } else {
	                 self.close();
	    }
	    if (countdown > 0) setTimeout('countdown_func()', 1000);
	}

	var countdown = 5;
</script>
<style>
	body {
		margin:50px 0px; padding:0px;
		text-align:center;
		}
	p#done {
		font-family: Helvetica;
		background-color: #fff;
		color: #ff2700;
		text-decoration: none;
		font-size: 4.0em;
		font-weight: bold !important;
		font-style: italic !important;
		}
</style>

<div id="content">
    <div style="margin-bottom:10px;"><p id="done">Done!</p></div>
    <p>
    <a href="#" onclick="javascript:self.close(); return false;">Close this window</a>
    </p>
    <span id="countdown" style="color:#777;">
        or wait 3 seconds.
    </span>
</div>

<script type="text/javascript">
    setTimeout('countdown_func()', 1000);
</script>
